<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindStaff</servlet-name>
    <servlet-class>web.FindStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PreUpdateStaff</servlet-name>
    <servlet-class>web.PreUpdateStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStaff</servlet-name>
    <servlet-class>web.UpdateStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStaff</servlet-name>
    <servlet-class>web.DeleteStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStaff</servlet-name>
    <servlet-class>web.AddStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindWage</servlet-name>
    <servlet-class>web.FindWage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWage</servlet-name>
    <servlet-class>web.UpdateWage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWage</servlet-name>
    <servlet-class>web.AddWage</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStaff</servlet-name>
    <url-pattern>/FindStaff.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreUpdateStaff</servlet-name>
    <url-pattern>/PreUpdateStaff.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStaff</servlet-name>
    <url-pattern>/UpdateStaff.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStaff</servlet-name>
    <url-pattern>/DeleteStaff.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStaff</servlet-name>
    <url-pattern>/AddStaff.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindWage</servlet-name>
    <url-pattern>/FindWage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWage</servlet-name>
    <url-pattern>/UpdateWage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWage</servlet-name>
    <url-pattern>/AddWage.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
